<div class="panel-container">
  <app-split-panel [Panel]="splitPanels[0]">
    <div slot="content1" style="height: 100%; width:100%; background-color: aqua;">
      Panel 1
      <input type="text" [(ngModel)]="userText"/>
      <button (click)="onClickSendMessage()">Send Message</button>
    </div>
    <div slot="content2">
      <app-split-panel [Panel]="splitPanels[1]">
        <div slot="content1" style="background-color: green;">
          <div>Panel 2</div>
          {{userTextReceived}}
        </div>
        <div slot="content2">
          <h2>Panel 3</h2>
        </div>

      </app-split-panel>
    </div>

  </app-split-panel>
</div>
